$turquoise: rgb(0, 128, 128);
$icon-turqoise: rgba(0, 128, 128, 0.65);
$bordeaux: #B60D0F;
$font: #1F1F1F;
$dark-grey: #263238;

body {
  font-family: 'Source Sans 3', sans-serif;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}

wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.page-title__with-bg {
  background-image: url('assets/mosaic_transparent.jpg');
  background-size: contain;
  background-position: center;
  max-width: 90%;
  margin: 0 auto;

  h1 {
    text-align: center;
    padding: 1.5rem;
  }
}

.page-content {
  max-width: 90%;
  margin: 0 auto;

  a {
    color: $turquoise;
  }

  i {
    color: $icon-turqoise;
    font-size: 4rem;
  }

  .red-divider {
    color: $bordeaux;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.section-title__underline {
  border-bottom: $bordeaux solid 1.5px;
}

.icon-container {
  display: flex;
  justify-content: space-between;

  .icon-container__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    p {
      width: 80%;
      text-align: center;
    }
  }
}

.section-content__list-image {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;

  ul {
    flex-basis: 50%;
  }

  .list-img {
    flex-basis: 50%;
    object-fit: cover;
    width: 50%;
    max-height: 15rem;
    border-radius: 5px;
  }
}

a.btn.footbtn {
  background-color: rgba(255, 255, 255, 0.50);
  color: $font;
  border: $bordeaux solid 2px;
  border-radius: 5px;
  padding: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s;


  &:hover {
    color: #FFF;
    background-color: $dark-grey;
    border-color: $dark-grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }

}

a.btn.red_btn {
  color: #FFF;
  background-color: $bordeaux;
  transition: color .30s ease-in-out, background-color .30s ease-in-out, border-color .30s ease-in-out, box-shadow .30s;

  &:hover {
    color: #FFF;
    background-color: $dark-grey;
    border-color: $dark-grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}